*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}

/* COLORS */

/* FONT */
@font-face {
  font-family: SuisseIntl;
  src: url("../src/fonts/SuisseIntl-Regular/SuisseIntl-Regular-WebM.woff2")
      format(woff2),
    url("../src/fonts/SuisseIntl-Regular/SuisseIntl-Regular-WebM.woff")
      format(woff);
}

@font-face {
  font-family: SuisseIntl;
  src: url("../src/fonts/SuisseIntl-Regular/SuisseIntl-RegularItalic-WebM.woff2")
      format(woff2),
    url("../src/fonts/SuisseIntl-Regular/SSuisseIntl-RegularItalic-WebM.woff")
      format(woff);
  font-style: italic;
}

@font-face {
  font-family: SuisseWorks;
  src: url("../src/fonts/SuisseWorks-Regular/SuisseWorks-Regular-WebS.woff2")
      format(woff2),
    url("../src/fonts/SuisseWorks-Regular/SuisseWorks-Regular-WebS.woff")
      format(woff);
}

@font-face {
  font-family: SuisseWorks;
  src: url("../src/fonts/SuisseWorks-Regular/SuisseWorks-RegularItalic-WebS.woff2")
      format(woff2),
    url("../src/fonts/SuisseWorks-Regular/SuisseWorks-RegularItalic-WebS.woff")
      format(woff);
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 p,
a {
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.article-copy {
  color: #1c1c1c;
}
